<div class="tech-btm">
    <p>Texnoloji, proqramlama və digər bliqlar...</p>
    <form action="/NewsLetter/SubscribeMail" method="post">

        <input type="email" placeholder="Email" name="Mail" required="">
        <input type="submit" value="Subscribe">
    </form>
    

</div>